.modalLabel {
    display: block;
}

.modalValue{
    width: 100%;
    margin-bottom: 10px;
}

.ReactTable {
    .rt-table{
        background-color: cornsilk;
    }
    .rt-td {
        white-space : unset !important
    }
}